
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.el-header{
  background: #ededed;
  .topBar{
    width:1200px;
    margin: 0 auto;
    line-height: 48px;
    ul.nav li{
      display: inline-block;
      padding: 0 2em;
      font-size: 16px;
      a{
        display: inline-block;
        color:#333;
        text-decoration: none;
        padding: 0 0.8em;
        height:47px;
        &.active,&:hover{
          color:#EF6520;
          border-bottom: 3px solid #EF6520;
        }
      }
    }
    .user{
      span{
        i{color:#a0a0a0;}
        &.arrow{cursor: pointer}
      }
    }
  }

}
.el-footer{background: #4c4c4c;height:100px}
.el-footer p{line-height: 100px;color:#fff;text-align: center;font-family: "Microsoft YaHei";}


/* Scrollbar */

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 6px;
  height: 16px;
  background-color: transparent;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  border-radius: 3px;
  background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  background-color: #d9d9d9;
}
.loader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  opacity: 0.4;
  background: #000;
}
.loader-inner.line-scale-pulse-out > div{
  background:#4771d4
}


